body {
  background-color: #ffffff;
  margin: 0 auto;
}
#navbar {
  background-color: #ffffff;
  height: 80px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #aeaeae;
  justify-content: space-between;
  padding: 15px;
}
#left {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
}
#left img {
  height: 60px;
  margin-right: 15px;
}
#left h2 {
  display: inline-block;
  color: #757575;
}
#right {
  width: auto;
  float: right;
}
#right > img {
  height: 60px;
  border-radius: 50%;
}
#main {
  height: calc((100vh) - 112px);
  overflow: hidden;
  position: relative;
}
#sidebar {
  background-color: #ffffff;
  width: 175px;
  height: 100%;
  float: left;
  border-right: 2px solid #aeaeae;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px 30px 30px;
}
#sidebar nav a.hover {
  text-decoration: underline aquamarine;
}
#sidebar nav a {
  text-decoration: none;
  color: #838383;
  padding: 5px;
}
#sidebar nav a:first child {
  padding-top: 0;
}
#container {
  width: 100vw;
  padding: 25px;
  float: left;
  width: calc((100vw) - 227px);
}
#container h3 {
  color: #6e6e6e;
  margin: 0 0 25px 0;
  text-decoration: underline;
}
.upper-formside {
  width: calc(100vw);
  display: inline-block;
  box-sizing: border-box;
  padding-right: 600px;
}
.upper-formside div {
  margin-bottom: 5px;
  color: #5e5e5e;
}
.input-box {
  padding: 5px 150px 5px 5px;
}
.input-box-branch {
  padding: 5px 125px 5px 5px;
}
.border-box {
  border: 2px solid #5e5e5e;
}
.focus:focus {
  border: 2px solid #555;
  background-color: lightblue;
}
.red-text {
  color: red;
}
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
input[type="reset"] {
  background-color: #ff7261;
}
input[type="submit"] {
  background-color: #3bb989;
}
.address-space {
  width: (100%);
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
}
#one,
#two {
  display: flex;
  justify-content: space-between;
}
#three {
  display: flex;
}
.radio-box {
  padding-left: 245px;
}
#last-line {
  float: right;
  margin-right: 200px;
}
@media only screen and (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #main {
    height: (100vh);
    overflow: auto;
  }
  .upper-formside div {
    display: inline-block;
    margin-bottom: 5px;
  }
  #one,
  #two,
  #three {
    display: block;
    margin-bottom: 10px;
  }
  #last-line {
    float: left;
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #sidebar {
    width: 130px;
    height: 100%;
  }
  #main {
    height: 100%;
  }
}
